################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Passos.txt
/.vs
/JuntosCodeChallenge/JuntosCodeChallenge.API/bin/Debug/netcoreapp3.1
/JuntosCodeChallenge/JuntosCodeChallenge.API/obj
/JuntosCodeChallenge/JuntosCodeChallenge.Domain/bin/Debug/netcoreapp3.1
/JuntosCodeChallenge/JuntosCodeChallenge.Domain/obj/Debug/netcoreapp3.1
/JuntosCodeChallenge/JuntosCodeChallenge.Infrastructure/bin/Debug/netcoreapp3.1
/JuntosCodeChallenge/JuntosCodeChallenge.Infrastructure/obj/Debug/netcoreapp3.1
/JuntosCodeChallenge/JuntosCodeChallenge.Test/bin/Debug/netcoreapp3.1
/JuntosCodeChallenge/JuntosCodeChallenge.Test/obj/Debug/netcoreapp3.1
/JuntosCodeChallenge/JuntosCodeChallenge.Test/obj/project.nuget.cache
/JuntosCodeChallenge/JuntosCodeChallenge.Infrastructure/obj/project.nuget.cache
/JuntosCodeChallenge/JuntosCodeChallenge.Domain/obj/project.nuget.cache
/JuntosCodeChallenge/JuntosCodeChallenge.API/Logs
